# directory 忽略目录下的所有文件
.mvn/
.idea/
.vscode/
.settings/
target/


# file
*.project
*.iml
*.com
*.class
*.dll
*.exe
*.cmd
mvnw
HELP.md

# compression file
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.via
*.tmp
*.err